/* General Styles */
body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background: #1f1f1f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo h1 a {
    color: white;
    text-decoration: none;
}

.sidebar-nav .nav-item {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-weight: bold;
    display: block;
    transition: all 0.3s;
}

.sidebar-nav .nav-item:hover {
    color: #ff6600;
    transform: scale(1.1);
}

/* Sidebar Footer */
.sidebar-footer p a {
    color: white;
    text-decoration: none;
}

.sidebar-footer p a:hover {
    color: #ff6600;
}

/* Main Content */
.main-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#dynamic-content {
    text-align: center;
}

.main-heading {
    font-size: 4rem;
}

.main-description {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 1.6;
}

.btn {
    font-size: 1rem;
    color: #ff6600;
    text-decoration: none;
    font-weight: semibold;
    transition: all 0.3s ease;
}

.btn:hover {
    text-decoration: underline;
    color: white;
}

/* About Section */
#about {
    padding: 50px;
    color: white;
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

#about p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#about strong {
    font-size: 1.2rem;
    color: #e6e6e6;
}
